body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #87CEEB; /* Langit */
}

#game-container {
  border: 2px solid #000;
}

canvas {
  display: block;
  background-color: #a6d785; /* Rumput */
}
